<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="storedb_development" connectionString="server=JOSEGARCIA;database=storedb_development;User Id=tb;Password=tb;" />
    <add name="HarryPotter.Database.Tests.Properties.Settings.storedb_developmentConnectionString"
      connectionString="server=JOSEGARCIA;User Id=tb;password=tb;database=storedb_development"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>